#!/usr/bin/env python

from distutils.core import setup

setup(name='monitroncontrol',
      version='1.0',
      description='Monitron Accessory Control',
      author='Sam Rayment',
      author_email='',
      url='',
      packages=['distutils', 'distutils.command'],
     )
